.wrap {
    width: 100%;
}
.sub_wrap {
    color: #777;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 22px;
    margin: 0;
    font-size: 13px;
    width: 100%;
    display: inline-block;
}
.header {
    background-color: #e01b1b;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: #FFF;
    border-bottom: 1px solid #E9E9E6;
    border-top: 3px solid #EDEDED;
}
.logo-container {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    width: 171px;
    height: 53px;
    float: left;
    margin: 1px 0 0 2px;
}
.userbox > a {
    display: inline-block;
    text-decoration: none;
}
.userbox.open > a {
    position: relative;
    z-index: 993;
}
.userbox .profile-info {
    margin: 0 25px 0 10px;
}
.userbox .profile-picture {
    margin: 0;
}
.userbox .profile-info,
.userbox .profile-picture {
    display: inline-block;
    vertical-align: middle;
}
.userbox {
    display: inline-block;
    left: 70%;
    position: relative;
    vertical-align: middle;
}
.userbox .name {
    color: #000011;
    font-size: 17px;
    line-height: 1.2em;
}
.userbox .role {
    color: #ACACAC;
    font-size: 12px;
    line-height: 1.2em;
    display: block;
}
.fa.custom-caret:before {
    content: "\f107";
}
.userbox .custom-caret:before {
    content: "\f107";
}
.userbox .custom-caret {
    color: #000011;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.userbox .profile-picture img {
    width: 35px;
    color: transparent;
}
.image-circle {
    border-radius: 50%;
}

.side_bar {
    background-color: #000000;
    width: 20%;
    float: left;
    min-height: 1005px;
    height: 100%;
    display: inline-block;
    vertical-align: center;
    position: relative;
    top: 50%;
}
.list {
    padding-left: 0;
    list-style: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dropdown-menu-open {
    display: block;
}

.userbox.open .dropdown-menu {
    border: none;
}
.userbox.open .dropdown-menu li {
    margin-bottom: 5px;
}
.fa {
    display: inline-block;
    font-family: fontawesome;
    font-size: inherit;
    text-rendering: auto;
}
.view-button {
    background-color: transparent;
    border: transparent;
    color: #526f72;
    font-size: 14px;
    display: inline-block;
 
    margin-right: 31%;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
ul {
    margin-bottom: 0;
    padding-left: 27px;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}
li {
    display: list-item;
}
.fa-table:before {
    content: "\f0ce";
}
.userbox.open .dropdown-menu i {
    font-size: 18px;
    margin-right: 9px;
    vertical-align: middle;
}
.userbox.open .dropdown-menu a {
    border-radius: 2px;
    color: #7d7d7d;
    display: block;
    font-size: 13px;
    padding: 5px 18px;
    text-decoration: none;
    background-color: transparent;
}
#admin-data {
    background-color: #dadde4;
    width: 80%;
    display: block;
    float: left;
    height: 100%;
    min-height: 1005px;
}
.open dropdown-menu {
    display: block;
}
.head_bar {
    background-color: #4c4545;
    text-align: right;
    color: #dad0c6;
    padding-right: 10%;
}
.sidebar-left {
    color: #777;
    display: table-cell;
    width: 20%;
    left: 0;
    display: inline-block;
}
.content-blck {
    width: 100%;
}
.sidebar-left .sidebar-header {
    position: relative;
    color: #777;
    height: 50px;
}
.sidebar-left .sidebar-header .sidebar-title {
    background: #1D2127;
    color: #465162;
    padding: 15px;
    font-size: 13px;
}
.sidebar-left .sidebar-header .sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 73px;
    height: 50px;
    background-color: #171717;
    border-radius: 0 0 0 5px;
    text-align: center;
    cursor: pointer;
}
.fa.fa-bars:before {
    content: "\f0c9";
}
.fa.fa-bars {
    font-size: 20px;
    color: #eadfdf;
    margin-top: 14px;
}
.sidebar-content {
    height: 100%;
    min-height: 530px;
    background-color: #1d2127;
}
.fa.fa-home:before {
    content: "\f015";
}
.nav-main {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-top: 4px;
}
.nav-main li {
    display: list-item;
    font-size: 14px;
    padding: 12px 15px 12px 30px;
}
.nav-main li i {
    width: 13px;
    margin-right: 8px;
    vertical-align: initial;
    font-size: 16px;
}
.nav-main li a {
    font-size: 14px;
    color: #abb4be;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: pointer;
}
.nav-children{
    list-style-type: none;
    padding: 0px 0;
    text-align: center;
    display: none;
    background-color: rgb(36, 41, 47);
}
.nav-expanded{

    display: block;
}
.view-table {
    width: 463px;
    min-height: -24px;
    background-color: #fff9f9;
    display: inline-block;
    margin-top: 47px;
}
.nav.nav-children li:hover {
    background-color: #171717;
    color: #96b5ff;
}
.fa-table:before {
    content: "\f0ce";
}
.nav-main li.nav-parent > a:after {
    font-family: 'FontAwesome';
    content: '\f107';
    font-size: 17px;
    color: #abb4be;
    display: inline-block;
    position: relative;
    left: 62%;
}
.sidebar-menu li:hover {
    background-color: #262a31;
}
.content-body {
    display: inline-block;
    width: 80%;
    float: right;
    position: relative;
    height: 100%;
    min-height: 580px;
    background-color: #e8e7e5;
}
.page-header {
    background: #171717;
    height: 50px;
    margin: (24px 10px 13px 18px);
    position: relative;
    transform: translate(26px 19px);
}
.page-header h2 {
    color: #FFF;
    border-bottom: 1px solid #CCC;
    display: inline-block;
    float: left;
    font-size: 21px;
    letter-spacing: normal;
    line-height: 50px;
    margin: 0 0 0 -1px;
    padding: 0 22px 0 20px;
}
.page-header .breadcrumbs {
    display: inline-block;
    font-size: 13px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.breadcrumbs li {
    display: inline-block;
}
.page-header .breadcrumbs a,
.page-header .breadcrumbs span {
    color: #C3C3C3;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.right-wrapper {
    display: inline-block;
    float: right;
    margin-right: 70px;
}
.widget-summary-box {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-top: 2%;
}
.block {
    width: calc(100% / 2 - 10px);
    margin: 5px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    min-height: 133px;
}
.widget-block-panel {
    min-height: 133px;
}
.widget-block-icon {
    width: calc(100%/3);
    background-color: #ffffff;
    height: 127px;
    margin: 2%;
    display: inline-block;
}
.icon-base {
    width: calc(100%-10px);
    height: 100px;
    background-color: #cacac2;
    margin: (10px 10px 10px 10px);
    display: inline-block;
    width: 90;
    width: 100px;
    margin: 10px;
    border-radius: 100%;
}
.icon-base.col11-icon {
    background-color: teal;
}
.icon-base.col12-icon {
    background-color: #843586;
}
.icon-base.col.col21-icon {
    background-color: #af2121;
}
.icon-base.col22-icon {
    background-color: #3169b9;
}
.icon-base .icon {
    font-size: 50px;
    margin: 25px;
    color: #ffffff;
}
.fa.fa-usd.icon {
    margin-left: 37px;
}
.fa.fa-user.icon {
    margin-left: 34px;
}
.widget-block-desc {
    height: 112px;
    background-color: #ffffff;
    display: inline-block;
    width: 312px;
    vertical-align: middle;
    position: absolute;
    margin: 19px 19px 19px 1px;
    margin-bottom: 19px;
}
.desc-title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    color: #333;
    font-weight: 500;
    display: inline-block;
}
.desc-amount {
    margin-top: 12px;
    font-size: 25px;
    font-weight: 600;
    color: #333;
    vertical-align: middle;
    display: block;
}
.widget-desc-footer {
    border-top: 1px dotted #dcd2d2;
    text-align: right;
    display: inline-block;
    height: 20px;
    background-color: white;
    width: 100%;
    margin-top: 31px;
}
