.wrap {
   
}
.sub-wrap {

    font-family: "Open Sans", Arial, sans-serif;
   /* background-image: url(http://www.pixeden.com/media/k2/galleries/275/002-blurred-background-texture-vol2.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    /*background-image: linear-gradient(to top right,#eaeaea 10%, rgb(193, 167, 255) 65%, #ff1919 125%);*/
    min-height: 622px;
    background-image: linear-gradient(to top right,#eacccc 10%, rgb(218, 206, 243) 65%, #f19494 125%);
}
.col-2{



}
.headbar{

    background-color: #e01b1b;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    background: #FFF;
    display: none;
   /* border-bottom: 1px solid #E9E9E6;
    border-top: 3px solid #EDEDED;*/
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    width: 171px;
    height: 53px;
    float: left;
    margin: 1px 0 0 2px;
}
.title-container {
  
    text-align: left;
    background-color: #8c73ca;
    padding: 15px 20px;
    
}
.login-screen {
    display: inline-block;
    /* margin-left: 38%; */
    border: 2px solid #5a478a;
    /* padding: 37px; */
   /* border-radius: 10px;*/
   box-shadow: 0px 0px 5px;
    margin-top: 108px;
/* margin-top: 108px; */
  
}
.signup-screen{
    border: 2px solid #62508e;
    /* padding: 37px; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    margin: auto;
    width: 424px;
}
.signup-table td {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
.heading {
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 400;
    color: #ffffff;
}
.login-form {
    margin: 10px;
}
.login-pannel {
    margin: 0 auto;
    padding: 20px 20px 1px;
    max-width: 100%;
    overflow-x: visible;
    transition: opacity .2s ease-out;
}
.form-material {
    position: relative;
    margin: 10px 0 10px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #0d081b;
}
.form-material.floating>label {
    font-size: 15px;
    font-weight: 400;
    cursor: text;
    z-index: 10;
    transition: all .15s ease-out;
    transform: translateY(0);
}

.form-material label{
    position: absolute;
    top: 6px;
    left: 0;

}
.form-control {
    color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: none;
    transition: all .15s ease-out;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    user-select: text;
    cursor: auto;
    margin: 0;
}
.form-material .form-control {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0 1px 0 #e6e6e6;
}
.col-12,.col-22 {
    width: 100%;
    /* float: left; */
    position: relative;
   /* padding-left: 15px;
    padding-right: 15px;*/
    /* min-height: 16px; */
}
/*form-material>label, .form-material.floating>.form-control:focus+label, .form-material.floating.open>label {*/
/*.form-material>*/.form-control:focus+label, /*.form-material*/ label {    
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 13px;
    font-weight: 600;
    transform: translateY(-24px);
}

.test{position: absolute;
    top: 6px;
    left: 0;
    font-size: 13px;
    font-weight: 600;
        transform: translateY(0)!important;
}

label:focus {
    font-size: 10px;
    transform: translateY(-20px);
}
.form-control:focus {
    border-color: #ccc;
    background-color: #fcfcfc;
 
    box-shadow: none;
}
.form-material .form-control:focus {
    background-color: transparent;
    outline: none;
    box-shadow: 0 2px 0 #646464;
}
.form-group {
    margin-bottom: 20px;
}.form-group:before {
    display: table;
    content: "";
}
.admin-screen-parent {
    margin: auto;
    width: 241px;
}
.submit-box {
    /* margin: 0 auto; */
    margin-left: 38px;
    /* padding-left: 66px; */
}
.admin_login_background {
    background-image: linear-gradient(to top right, #796363 10%, #d8aeae 65%, #ef6b11 125%);
}
.error_msg {
    font-size: 12px;
    font-family: monospace;
    color: #ef1717;
    text-align: center;
}
.admin_signup_msg {
    color: green;
    font-size: 14px;
    font-weight: 500;
    margin-left: 39%;
}
.signup_warning {
    color: red;
    font-size: 14px;
    margin-left: 42%;
    font-weight: 500;
}
     
#err_field {
    color: red;
    font-size: 13px;
    margin-left: 74px;
}
.bottom-bar {
    margin-top: 16px;
margin-left: 61px;
    font-size: 14px;

}
.signup-link {
   /* background-color: #705d9e;*/
    padding: 7px;
    border-radius: 4px;
    /* margin-top: -7px; */
    /* margin-bottom: 32%; */
    transform: translate(29px 30px);
    display: inline;
    color: black;

}
.signup-link a {
    text-decoration: none;
}
.signup-link:hover {
    background-color: #705d9e;
    /* border-bottom-color: #ffffff; */
    color: #ffffff;
    border-color: #ffffff;
}
.text-block {
    display: inline;
}
input[type="submit"] {
    padding: 7px 26px;
    width: 80%;
    margin: 14px auto;
    /* border-radius: 6px; */
    background-color: #9782ca;
    border-color: rgb(151, 130, 202);
    /* box-shadow: 2px 2px 2px black; */
    box-shadow: 0px 0px 5px;
}

.submit_button {
    padding-left: 35%;
    padding-top: 3%;
}
.table_css {
    margin: 0 auto;
    margin-top: 60px;
    padding: 50px 0;
    max-width: 480px;
    background: #34bcc3;
    width: 100%;
    border-radius: 7px;
}
.table_css td {
    padding: 2%;
} 
.table_css{
    background-color: none;
    border: none;
}
.signup-table input[type="text"],
.signup-table input[type="password"]{
    padding: 6px 36px;
    width: 172px;
    margin: 7px auto;

}

.signup-table input[type="submit"]{

    padding: 12px 30px;
    width: 80%;
    margin: 13px 37px;
    border-radius: 6px;
    background-color: #8c73ca;
    border-color: rgb(99, 79, 148);
}
input[type="text"],
input[type="password"] {
    /* background-color: rgba(186, 163, 39, 0.41); */
    /*
    border-bottom: 2px solid #2b7108;
    border-radius: 2px;
    color: #263238;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 12px;
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    font-family: initial;*/
     /*      padding: 12px 30px;
    width: 265px;
    margin: 14px auto*/
}
.admin_home_page_heading {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: rgb(255, 250, 250);
    /* background-color: #3a3030; */
    
    padding: 1%;
    background-image: linear-gradient(to top right, #3a3030 10%, #b57e7e 65%, #f3eae5 125%);
}
.admin_view_record_button {
    padding-top: 5%;
    padding-left: 2%;
}
#view_record {
    background: transparent;
    border-radius: 19px;
    border-color: #a99d9d;
    color: #f5f3f3;
    cursor: pointer;
}
.admin_home_background {
    /*background-image: url(https://images.pexels.com/photos/273016/pexels-photo-273016.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
    background-repeat: no-repeat;
    background-size: cover;*/
    
    background-color: #796363;
}
.admin_display_table {
    padding: 3%;
    color: white;
}
.admin_record_table_title {
    font-size: 18px;
    padding: 2%;
    color: #0b1d1d;
    font-family: monospace;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJSzjjMcC5QRHAG-7DgbOJegiwwp0uItfgzCOHpDaNr1Y96BJ2); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
    border-bottom: 3px solid #1abfbf;
    background-color: #beecdd;
}
.admin_display_page {
    background-color: rgba(166, 226, 223, 0.73);
}
.record_table th, td {
    padding: 4%;
  
    border-bottom: 1px solid #ddd;
}