.wrap {
    width: 100%;
}
.sub_wrap {
    background: red;
    display: inline-block;
    width: 100%;
}

.side_bar {
  	 background-color: #000000;
         width: 20%;
    float: left;
    min-height: 60%;
    height: 100%;
  	
}

.admin_screen {
    background-color: #969eb5;
    width: 80%;
    display: inline-block;
    height: 100%;
}

.head_bar {

    background-color: #4c4545;
    text-align: right;
    color: #dad0c6;
    padding-right: 10%;
}

.welcome_box {
   
    font-family: 'Slabo 27px', serif;
    color: #a09292;
    text-align: -webkit-left;
    font-size: 15px;
    background-color: #4c4545;
    padding-left: 5%;
}

.menu_background {
    background-color: #000000;
    width: 100%;
    
}
.menu_list p {
    cursor: pointer;
    padding-top: 3%;
    background-color: rgb(146, 160, 167);
    border-radius: 4px;
    padding-left: 5%;
}

.sidenav {
    z-index: 1;
    background-color: #92a0a7;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.sidenav a {
    text-decoration: none;
    color: #100d0d;
    display: block;
    padding: 0px 0px 7px 49px;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: relative;
    top: 7px;
    left: 71%;
}
.content_area{
    display: none;
    background-color: #000000;
}

.content_area h3{
   margin-left: 20%;
    margin-top: 6px;
    color: #ffffff;
    border-bottom: 3px solid #2876d4;
}
#admin-data {
    background-color: #969eb5;
}
.box-inside {
    background-image: url(http://2.bp.blogspot.com/-OHWNg3QQwcc/VlHM1Di_PAI/AAAAAAAAGvU/MUMpy_5aM1w/s1600/CSS-social-media-icons-widget.png);
    background-repeat: no-repeat;
    height: 106%;
    width: 100%;
    margin: (10px, 10px 10px 10px);
    transform: translate(54,-0);
    position: absolute;
    margin-left: 7%;
    margin-top: 21%;
}
.social-media-box {
    position: absolute;
    display: inline-block;
    right: 7%;
    bottom: 7%;
    width: 30%;
    min-height: 55%;
    background-color: #e8e8e8;
    border-radius: 10px;
}

.dashboard {
    background-color: black;
}
.economy-box {
    position: absolute;
    display: inline-block;
    /* right: 36%; */
    left: 27%;
    bottom: 7%;
    width: 30%;
    min-height: 55%;
    background-color: #e8e8e8;
    border-radius: 10px;
}


.dollar-section {
    position: absolute;
    display: inline-block;
    /* right: 36%; */
    left: 3%;
    bottom: 56%;
    width: 94%;
    min-height: 35%;
    background-color: #cab5b5;
    border-radius: 10px;
}

.dollar-section-2 {
    position: absolute;
    display: inline-block;
    /* right: 36%; */
    left: 3%;
    bottom: 10%;
    width: 94%;
    min-height: 35%;
    background-color: #cab5b5;
    border-radius: 10px;
}