body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(form_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    /* background-color: rgba(119, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    text-align: left;*/
    position: relative;
}
.heading > h1 {
    position: absolute;
    transform: translate(259px, 212px);
    color: wheat;
    font-size: 40px;
}
.heading > p {
    position: absolute;
    transform: translate(229px, 284px);
    color: wheat;
    opacity: 0.5;
}
.wrap {
    display: inline-block;
    position: relative;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 21%;
    transform: translate(0, -50px);
    /* width: 30%; */
    text-align: center;
    border-radius: 22px;
}
.wrap h3 {
    color: rgb(140, 77, 77);
}
.table_css {
   
/*    padding: 10% 20% 10% 20%;*/
    background-color: #d7ded1;
    border-radius: 22px;
    color: #a57070;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
}
 .error_msg {
    width: 30%;
    position: absolute;
    color: #ea0606;
    font-size: 13px;
    transform: translate(10px, 0px);
}
.label {
    color: #a57070;
}
.table_css td {
    padding: 2%;
}
.table_css input[type="text"] {
    border: 1px solid rgba(197, 153, 153, 0.74);
    border-radius: 5px;
  /*  padding: 4%;*/
    height: 25px;
}
.table_css input[type="submit"] {
    background: #618c11;
    color: white;
    border-color: #ffffff;
    height: 29px;
    width: 89px;
    border-radius: 9px;
    float: center;
   /* margin-left: 44%;*/

}
#index_submit {
    text-align: right;
}
.success_msg {
    color: #ffffff;
    padding-left: 65%;
}